.label {
    margin-top: 0.2rem;
    margin-right: 0.5rem;
    display: inline-block;
    padding: 0.1rem 0.6rem;
    font-weight: normal;
    font-size: 0.7rem;

    &.border-red {
        background-color: $theme-bg;
        color: $text-color;
        border: 1px solid $red-highlight;
        border-radius: 10rem;
    }

    &.border-blue {
        background-color: $theme-bg;
        color: $text-color;
        border: 1px solid $blue-highlight;
        border-radius: 10rem;
    }

    &.border-purple {
        background-color: $theme-bg;
        color: $text-color;
        border: 1px solid $purple-highlight;
        border-radius: 10rem;
    }
}

.label-group {
    display: flex;
    flex-wrap: wrap;
}