.navbar {
    background: $theme-bg-secondary;
    margin-bottom: $navbar-margin;
    color: $text-color-dark;

    a {
        // don't set visited
        &:link, &:hover, &:active, &:visited {
            color: darken($text-color-dark, 12%);
            text-decoration: none;
        }
    }
}

