.blue-underline {
    border-bottom-width: 1px;
    border-bottom-color: $blue-highlight;
    border-bottom-style: solid;
}

.red-underline {
    border-bottom-width: 1px;
    border-bottom-color: $red-highlight;
    border-bottom-style: solid;
}
