.vertical-flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-right {
    text-align: right;
}

.hide {
    display: none;
}

.bottom-margin-md {
    margin-bottom: $bottom-margin-md
}