.vertical-flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.hide {
    display: none;
}

.bottom-margin-md {
    margin-bottom: $bottom-margin-md
}