$theme-bg: #fafaff;
$theme-bg-secondary: rgb(24, 34, 41);
$banner-bg: $theme-bg-secondary;
$btn-common-bg: #687389;
$navbar-margin: 2rem;
$text-color: #000000;
$text-color-dark: #dddddd;
$red: #e14141;
$bottom-margin-md: 2rem;
$red-highlight: #b63144;
$blue-highlight: #31b6a3;

// bootstrap overrides
$enable-flex: true;
$enable-rounded: false;
$list-group-bg: $theme-bg-secondary;

$font-size-root: 14px;